*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
header{
    display: flex;
    width: 100%;
    background-color: rgb(199, 217, 241);
    justify-content: space-between;
    align-items: center;
    text-align: right;
    height: 144px;
    border: 2px solid black;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex: 180px 1;

}
footer{
    display: flex;
    background-color: rgb(199, 217, 241);
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 144px;
    width: 100%;
    border: 2px solid black;
}
.motto{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    height: 33%;
    border: 2px solid black;
    margin: 20px;
    padding-left: 20px;
}
.side-menu, .article-footnotes{
    height: 100%;
    background-color: rgb(252, 233, 218);
    width: 180px;
    min-width: 120px;
    height: stretch;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.article{
    height: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.article-body{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.article-text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.article-header{
    background-color: rgb(234, 242, 221);
    width: 100%;
    height: 60px;
    border: 1px solid black;
    text-align: right;
    text-justify: center;

}
h2{
    margin: 20px;
}
h3{
    text-align: center;
}
.content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(auto-40px);
}

.menu-item{
    border: 3px solid blue;
    background-color: cyan;
    margin: 20px;
    padding: 12px;
    text-decoration: none;
}
.menu-item:hover{
    border: 4px solid darkblue;
    background-color:deepskyblue;
    text-decoration: underline;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 100%;
    gap: 0;
    offset-distance: none;
    min-width: 0;
    flex-basis: 240px;
    row-gap: 16px;
}
.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid darkorange;
    background-color: darkkhaki;
    text-align: center;
    max-width: 240px;
}
hr{
    background-color: black;
    color: black;
    border-color: black;
    width: 80%;
}
.feedback{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 300px;
    min-width: 100px;
    width: auto;
    padding: 10px;
    border: 4px solid powderblue;
    background-color: cornflowerblue;
    border-radius: 20px;
    height: auto;
}
.residence-card{
    background-color: lightblue;
    text-align: center;
    color: darkslategrey;
    max-width: 200px;
    width: auto;
    min-width: 0;
    border: 4px solid darkblue;
    border-radius: 20px;
    padding: 4px;
}
.button-learn{
    color: black;
    border-radius: 10px;
    padding: 4px;
    border: 2px solid blue;
    background-color: rgb(80, 80, 255);
    margin: 10px;
    text-align: left;
    text-decoration: none;
}
.button-learn:hover{
    background-color: rgb(0, 0, 207);
}
img{
    margin: none;
}

@media only screen and (max-width:600px) {
    ul{
        align-self: center;
    }
    header{
        flex-direction: column-reverse;
        height: auto;
    }

    footer{
        flex-direction: column-reverse;
        height: auto;
    }
    .main{
        flex-direction: column;
    }
    .article-header{
        height: auto;
    }
    .article-body{
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    .hamburger-filling-footer>a>img{
        padding: 50px;
    }
    .hamburger-filling-footer,.hamburger-filling-header{
        display: none;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .side-menu, .article-footnotes{
        width: 100%;
    }

    #hamburger-button-footer:checked~.hamburger-filling-footer{
        display: block;
    }
    #hamburger-button-header:checked~.hamburger-filling-header{
        display: block;
    }
    label{
        text-align: center;
        align-self: center;
        padding: 20px;
        width: 100%;
        height: 100%;
    }
    label:active{
        background-color: lightgray;
    }
}