<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heavenmakers</title>
    <link rel="icon" href="{{url_for('static',filename='images/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <script src="https://kit.fontawesome.com/2a812ff966.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="motto">
            <h3>Your Personal Utopia</h3>
        </div>
        <h1>Heavenmakers</h1>
        <div class="icons">
            <a href="index.html"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo" height="100px"></a>
        </div>
    </header>
    <div class="main">
        <div class="side-menu">
            <h3 style="margin-left: 10px;">Navigation</h3>
            <ul>
                <li><a href="{{ url_for('page',page='with the help of service.html') }}"><div class="menu-item">HTML for email</div></a></li>
                    <li><a href="{{ url_for('page',page='index copy.html') }}"><div class="menu-item">Main page-grid version</div></a></li>
                    <li><a href="{{ url_for('page',page='index no grid no flex.html') }}"><div class="menu-item">Main page-table version</div></a></li>
                    <li><a href="{{ url_for('page',page='index.html') }}"><div class="menu-item">Main page</div></a></li>
                    <li><a href="{{ url_for('page',page='Plans.html') }}"><div class="menu-item">Usual plans</div></a></li>
                    <li><a href="{{ url_for('page',page='Estates.html') }}"><div class="menu-item">Estates</div></a></li>
                    <li><a href="{{ url_for('page',page='Vacations and retirement.html') }}"><div class="menu-item">Vacations and retirement</div></a></li>
                    <li><a href="{{ url_for('page',page='Happiness room.html') }}"><div class="menu-item">Happiness box</div></a></li>
                    <li><a href="{{ url_for('page',page='About us.html') }}"><div class="menu-item">About us</div></a></li>
            </ul>
        </div>
        <div class="article">
            <div class="article-header"> <h2>Retirement and Vacation</h2></div>
            <div class="article-body">
                <div class="article-text">
                    <div class="content">
                        Experience the ultimate in relaxation and fulfillment with our carefully curated retirement and vacation packages. Tailored to your needs and desires, each option offers a unique way to enjoy life to the fullest, whether you're planning for your golden years or looking for a rejuvenating escape.
                        
                        <h3>Golden Utopia: Luxurious Retirement Living</h3>
                        <img src="{{url_for('static',filename='images/utopia-retirement.avif')}}" width="100%" style="max-width: 300px;" alt="">
                        Our Golden Utopia retirement communities are designed for those who seek luxury, comfort, and a sense of purpose in their golden years. These communities are more than just a place to live—they are vibrant hubs of activity and connection, where every day feels like a vacation.
                        <br>
                        Residents can enjoy endless leisure activities, from art classes and nature walks to gourmet dining and spa treatments. Social opportunities abound, with clubs, group excursions, and community events that foster meaningful connections with like-minded individuals. Health and wellness are central to the Golden Utopia experience, with access to top-tier medical care, fitness programs, and holistic therapies designed to enhance your physical and emotional well-being.
                        <br>
                        Each residence is fully customizable, offering elegant interiors, private outdoor spaces, and all the amenities you need to live in comfort and style. Whether you prefer a tranquil garden retreat or a more lively, social atmosphere, Golden Utopia provides the perfect balance of relaxation, fulfillment, and luxury.

                        <h3>Utopian Escapes: Immersive Vacation Experiences</h3>
                        <img src="{{url_for('static',filename='images/utopia-vacation.jpg')}}" width="100%" style="max-width: 300px;" alt="">
                        For clients looking for a short-term getaway, our Utopian Escapes offer immersive vacation experiences that go far beyond the ordinary. Choose from a variety of unique destinations, each designed to transport you to a world of your choosing.
                        <br>
                        For those craving peace and solitude, we offer private island retreats with pristine beaches, crystal-clear waters, and the ultimate in seclusion. These eco-friendly havens are perfect for unwinding in nature, practicing mindfulness, or simply enjoying the serenity of an untouched paradise. Personal chefs, spa services, and curated experiences are all available to ensure your stay is nothing short of extraordinary.
                        <br>
                        Prefer something more futuristic? Our digital adventure packages immerse you in fully customized virtual realms. Whether you want to explore a bustling cyber-city, traverse alien landscapes, or journey through historical eras, these VR vacations provide an endless array of experiences. With full sensory integration, you’ll feel as though you’re truly there, all without leaving the comfort of your home.
                        <br>
                        From physical retreats to mind-expanding digital adventures, Utopian Escapes give you the freedom to experience your dream vacation—no matter where it takes you.
                        <h3>With Heavenmakers, your perfect world is not only possible – it’s closer than you think.</h3>
                    </div>
                </div>
                <div class="article-footnotes">
                    <h5>Our Partners</h5>
                    
                    <a href="https://futurama.fandom.com/wiki/Planet_Express"><img src="{{url_for('static',filename='images/partner-logo-futurama.png')}}" width="100%" alt="planet express"></a>
                        <a href="https://pixlr.com/image-generator/"><img src="{{url_for('static',filename='images/partner-ai-inferala.png')}}" width="100%" alt="inferala"></a>
                        <a href="https://boardgamegeek.com/boardgame/167791/terraforming-mars"><img src="{{url_for('static',filename='images/partner-mars terraforming.png')}}" width="100%" alt="helion"></a>
                        <a href="https://disney.fandom.com/wiki/Buy_n_Large"><img src="{{url_for('static',filename='images/partner-wallee.png')}}" width="100%" alt="BnL"></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div style="flex-direction: column; margin: 10px;">
            <h5>Contact us</h5>
                    <div><i class="fa-solid fa-phone"></i>239-516-8236</div>
                    <div><i class="fa-solid fa-envelope"></i>contact@heavenmakers.com</div>
        </div>
        <div class="motto">
            <h3>Where your dreams shape reality</h3>
        </div>
    </footer>
</body>
</html>