<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Heavenmakers</title>
    <link rel="icon" href="{{ url_for('static',filename='images/logo.png')}}" style="box-sizing: border-box;">
    <link rel="stylesheet" href="Style.css">
    <script src="https://kit.fontawesome.com/2a812ff966.js" crossorigin="anonymous" style="box-sizing: border-box;"></script>

</head>
<body style="box-sizing: border-box;margin: 0;padding: 0;width: min(100%, 600px);min-height: 100vh;">
    <div style="box-sizing: border-box;display: block;padding: auto;width: 100%;background-color: rgb(199, 217, 241);text-align: right;height: 144px;border: 2px solid black;">
        <div class="container" style="box-sizing: border-box;width: 98%;margin-left: auto;height: 100px;display: table;table-layout: auto;margin-top: 20px;">
            <div class="motto" style="box-sizing: border-box;max-width: 200px;background-color: white;min-height: 33%;border: 2px solid black;margin: 20px;padding-left: 20px;display: table-cell;vertical-align: middle;width: 200px;max-height: 40px;">
                <h3 style="box-sizing: border-box;text-align: center;padding: 0;margin: 0;">Your Personal Utopia</h3>
            </div>
            <h1 style="box-sizing: border-box;vertical-align: middle;display: table-cell;text-align: center;margin-top: auto;margin-bottom: auto;">Heavenmakers</h1>
            <div class="icons" style="box-sizing: border-box;float: inline-end;">
                <a href="index.html" style="box-sizing: border-box;text-decoration: none;"><img src="https://drive.google.com/uc?export=view&id=1db1G0A7IqhWDbD6tptZhx_E-5fynfJpg" alt="logo" height="100px" style="box-sizing: border-box;margin: none;align-self: center;justify-self: center;"></a>
            </div>
        </div>
    </div>
    <div class="main" style="box-sizing: border-box;width: 100%;height: 100%;display: table;">
        <div class="side-menu" style="box-sizing: border-box;display: table-cell;vertical-align: middle;padding: 10px;height: stretch;background-color: rgb(252, 233, 218);min-width: 120px;max-width: 180px;border: 1px solid black;">
            <h3 style="margin-left: 10px;box-sizing: border-box;text-align: center;">Navigation</h3>
            <ul style="box-sizing: border-box;list-style-type: none;margin: 0;padding: 0;">
                <li style="box-sizing: border-box;"><a href="{{ url_for('index') }}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Main page-grid version</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='index copy.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Main page-grid version</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='index no grid no flex.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Main page-table version</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='index.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Main page</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='Plans.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Usual plans</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='Estates.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Estates</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='Vacations and retirement.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Vacations and retirement</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='Happiness room.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">Happiness box</div></a></li>
                <li style="box-sizing: border-box;"><a href="{{url_for('static',filename='About us.html')}}" style="box-sizing: border-box;text-decoration: none;"><div class="menu-item" style="box-sizing: border-box;border: 3px solid blue;background-color: cyan;margin: 20px;padding: 12px;text-decoration: none;">About us</div></a></li>
            </ul>
        </div>
        <div class="article" style="box-sizing: border-box;display: table-cell, table;height: auto;width: 100%;">
            <div class="article-header" style="box-sizing: border-box;background-color: rgb(234, 242, 221);height: 60px;border: 1px solid black;text-align: right;text-justify: center;"> <h2 style="box-sizing: border-box;margin: 20px;">Welcome to paradise</h2></div>
            <div class="article-body" style="box-sizing: border-box;display: table;width: 100%;height: 100%;position: relative;border: 1px solid black;">
                <div class="article-text" style="box-sizing: border-box;width: 100%;vertical-align: middle;">
                    <div class="content" style="box-sizing: border-box;margin: 20px;width: calc(auto-40px);display: table;">
                        <img src="https://drive.google.com/uc?export=view&id=1174A5fRIgJH2UaIzgw4EPzQqYpRiis2e" width="100%" style="max-width: 300px;box-sizing: border-box;margin: auto;align-self: center;justify-self: center;display: table-cell;" alt="">
                        <br style="box-sizing: border-box;">
                        Welcome to Heavenmakers, where your personal utopia is not just a dream but a reality. 
                        Our mission is to create customized worlds where every aspect of life reflects your deepest desires. 
                        <br style="box-sizing: border-box;">Whether you're seeking peace, excitement, or fulfillment, we bring it to life with cutting-edge technology, innovative living environments, and personalized experiences. 
                        <br style="box-sizing: border-box;">We design, build, and maintain your ideal lifestyle so you can enjoy every moment of it.
                        <hr style="box-sizing: border-box;background-color: black;color: black;border-color: black;width: 80%;">
                        We believe that true happiness comes from living authentically, by choice. 
                        That’s why we don’t impose any standard models of utopia. 
                        Instead, we provide you with the tools, technology, and support to define what paradise means to you. 
                        Our vision is to empower individuals to live fully on their own terms, in environments that are tailored to meet their unique needs and preferences.
                        <hr style="box-sizing: border-box;background-color: black;color: black;border-color: black;width: 80%;">
                        We are constantly pushing the boundaries of what’s possible, integrating cutting-edge innovations in AI, virtual reality, and sustainable architecture 
                        to create self-sustaining utopian environments that offer the perfect balance of luxury, comfort, and emotional fulfillment. When you choose Heavenmakers, 
                        you’re choosing a future without limits – a future that’s designed around you.
                        <hr style="box-sizing: border-box;background-color: black;color: black;border-color: black;width: 80%;">
                        We ensure that your personal utopia is built to the highest standards, using the finest materials, and the most advanced technologies. 
                        We also guarantee ongoing support, providing you with everything you need to keep your utopia running smoothly, so all you have to do is enjoy the life you’ve always dreamed of.
                        <h3 style="box-sizing: border-box;text-align: center;">With Heavenmakers, your perfect world is not only possible – it’s closer than you think.</h3>
                    </div>
                </div>
                <div class="article-footnotes" style="box-sizing: border-box;display: table-cell;vertical-align: middle;padding: 10px;height: stretch;background-color: rgb(252, 233, 218);min-width: 120px;max-width: 180px;border: 1px solid black;">
                    <h5 style="box-sizing: border-box;">Our Partners</h5>
                    
                    <a href="https://futurama.fandom.com/wiki/Planet_Express" style="box-sizing: border-box;text-decoration: none;"><img src="https://drive.google.com/uc?export=view&id=17ya_jeJ15MKLq6xKzbHuFYzTHWC43PWv" width="100%" alt="planet express" style="box-sizing: border-box;margin: none;align-self: center;justify-self: center;"></a>
                    <a href="https://pixlr.com/image-generator/" style="box-sizing: border-box;text-decoration: none;"><img src="https://drive.google.com/uc?export=view&id=1SGNJJsWZYI6KyOwWQaEibiFK-jXgSHw1" width="100%" alt="inferala" style="box-sizing: border-box;margin: none;align-self: center;justify-self: center;"></a>
                    <a href="https://boardgamegeek.com/boardgame/167791/terraforming-mars" style="box-sizing: border-box;text-decoration: none;"><img src="https://drive.google.com/uc?export=view&id=1uwJubF0hTCphl1CBUq-GLubxKyVLTs2u" width="100%" alt="helion" style="box-sizing: border-box;margin: none;align-self: center;justify-self: center;"></a>
                    <a href="https://disney.fandom.com/wiki/Buy_n_Large" style="box-sizing: border-box;text-decoration: none;"><img src="https://drive.google.com/uc?export=view&id=1CHxoBQ_SmGPx-ZmnNH7zF2g-3-WnLrnq" width="100%" alt="BnL" style="box-sizing: border-box;margin: none;align-self: center;justify-self: center;"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="box-sizing: border-box;display: block;table-layout: auto;background-color: rgb(199, 217, 241);text-align: left;height: 144px;width: 100%;border: 2px solid black;">
        <div class="container" style="box-sizing: border-box;width: 98%;margin-left: auto;height: 100px;display: table;table-layout: auto;margin-top: 20px;border-spacing: 1rem 0;">
            <div style="flex-direction: column;margin: 10px;box-sizing: border-box;">
                <h5 style="box-sizing: border-box;">Contact us</h5>
                        <div style="box-sizing: border-box;"><i class="fa-solid fa-phone" style="box-sizing: border-box;"></i>239-516-8236</div>
                        <div style="box-sizing: border-box;"><i class="fa-solid fa-envelope" style="box-sizing: border-box;"></i>contact@heavenmakers.com</div>
            </div>
            <div class="filler" style="box-sizing: border-box;display: 1rem;width: auto;"></div>
            <div class="motto" style="box-sizing: border-box;max-width: 200px;background-color: white;min-height: 33%;border: 2px solid black;margin: 20px;padding-left: 20px;display: table-cell;width: 200px;vertical-align: middle;">
                <h3 style="box-sizing: border-box;text-align: center;padding: 0;margin: 0;">Where your dreams shape reality</h3>
            </div>
        </div>
    </div>
</body>
</html>
